{% extends 'base.html' %}

{% block title %}
Title text
{% endblock %}


{% block task %}
#1 Вью функция должна выводить количество записей из таблицы tracks.<br>
PATH: /tracks/ <br>
#2 Вью функция должна принимать название жанра трека и выводить количество записей этого жанра (genre) из таблицы tracks.
<br>
PATH: /tracks/<genre>
{% endblock %}

{% block container %}
<p>Count tracks: {{ content }}</p>
<form action="/tracks/" method="POST">
    <div class="form-row align-items-center">
        <div class="col-auto my-1">
            <select class="form-control" name="genre">
                <option selected>Choose...</option>
                {% for line in tracks %}
                <option value="{{ line }}">{{ line }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-auto my-1">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>
<p>{{ count }}</p>
{% endblock %}
